form
{
    width: 50%;
}

textarea
{
    height: 300px !important;
    resize: none;
}

input 
{
    padding: 10px !important;
}

input::placeholder , textarea::placeholder
{
    color: #17a2b8 !important;
}

form h1
{
    color: #17a2b8;
}

.mine 
{
    background-color: teal;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 10px;
}